body {
    background-image: url(img/pixels.gif);
    /* Define uma imagem de fundo animada */
    font: normal 18pt Arial;
    /* Define a fonte padrão como Arial, tamanho 18pt */
    background-repeat: no-repeat;
    /* A imagem de fundo não se repetirá */
    background-attachment: fixed;
    /* A imagem de fundo permanecerá fixa durante a rolagem */
    background-position: center center;
    /* Centraliza a imagem de fundo */
    background-size: cover;
    /* A imagem de fundo cobrirá toda a área visível */
    display: grid;
    /* Utiliza grid para o layout */
    place-items: center;
    /* Centraliza os itens do grid */
    overflow-x: hidden;
}
 
div#genTurmas {
    width: 450px;
    /* Largura do contêiner para geração de turmas */
    height: 300px;
    /* Altura do contêiner */
    background-color: rgba(0, 0, 0, 0.774);
    /* Fundo semi-transparente escuro */
    border: 3px solid #fff;
    /* Borda branca ao redor do contêiner */
    padding: 20px;
    /* Preenchimento interno do contêiner */
    border-radius: 10px;
    /* Arredonda os cantos do contêiner */
    position: absolute;
    /* Permite posicionar o contêiner de forma absoluta */
    top: 60%;
    /* Define a posição vertical do contêiner */
    left: 50%;
    /* Define a posição horizontal do contêiner */
    transform: translate(-50%, -50%);
    /* Centraliza o contêiner em relação ao seu próprio tamanho */
    text-align: center;
    /* Centraliza o texto dentro do contêiner */
}
 
/* button#btnTurmas1,
button#btnTurmas2,
button#btnTurmas3 {
    height: 40px;
    transition: 750ms;
} */

button.divTurmas{
    height: 40px;
    /* Altura dos botões de turmas */
    transition: 750ms;
    /* Transição suave de 750ms para alterações de estilo */
}
 
/* button#btnTurmas1:hover,
button#btnTurmas2:hover,
button#btnTurmas3:hover {
    transform: scale(1.10);
} */

button.btnTurmas:hover{
    transform: scale(1.10);
    /* Aumenta o tamanho do botão em 10% ao passar o mouse */
}
 
button#btnSenha {
    height: 40px;
    /* Altura do botão de senha */
    width: 150px;
    /* Largura do botão de senha */
}
 
/* div#divTurmas1,
div#divTurmas2,
div#divTurmas3 {
    margin-bottom: 10px;
} */

div.divTurmas{
    margin-bottom: 10px;
    /* Margem inferior dos contêineres de turmas */
}
 
button#btnModal {
    width: 400px;
    /* Largura do botão do modal */
    transition: 750ms;
    /* Transição suave de 750ms para alterações de estilo */
    margin: 10px;
}
 
button#btnModal:hover {
    transform: scale(1.05);
    /* Aumenta o tamanho do botão do modal em 5% ao passar o mouse */
}
 
.textTurmas {
    background-color: rgba(240, 248, 255, 0.644);
    /* Cor de fundo semi-transparente */
    text-align: center;
    /* Centraliza o texto */
    width: 400px;
    /* Largura da seção de texto */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.678);
    /* Sombra ao redor da seção de texto */
    display: flex;
    /* Utiliza flexbox para layout */
    align-items: center;
    /* Centraliza verticalmente os itens */
    justify-content: center;
    /* Centraliza horizontalmente os itens */
    position: absolute;
    /* Permite posicionar a seção de texto de forma absoluta */
    top: 25%;
    /* Define a posição superior da seção de texto */
    left: 50%;
    /* Define a posição à esquerda da seção de texto */
    transform: translate(-50%, -250%);
    /* Centraliza a seção de texto ajustando sua posição */
    border-radius: 10px;
    /* Arredonda os cantos da seção de texto */
}
 
.textTurmas h1 {
    font-size: 40px;
    /* Tamanho da fonte do título na seção de turmas */
    font-weight: 600;
    /* Define o peso da fonte como semi-negrito */
    text-transform: uppercase;
    /* Transforma o texto para maiúsculas */
    font-family: "Audiowide", sans-serif;
}
 
div#genSenha {
    width: 450px;
    /* Largura do contêiner para geração de senha */
    height: 400px;
    /* Altura do contêiner */
    position: absolute;
    /* Permite posicionar o contêiner de forma absoluta */
    top: 60%;
    /* Define a posição vertical do contêiner */
    left: 50%;
    /* Define a posição horizontal do contêiner */
    transform: translate(-50%, -50%);
    /* Centraliza o contêiner em relação ao seu próprio tamanho */
    text-align: center;
    /* Centraliza o texto dentro do contêiner */
}
 
.cont1 {
    display: flex;
    /* Utiliza flexbox para layout */
    position: absolute;
    /* Permite posicionar o contêiner de forma absoluta */
    transform: translate(30%, 0%);
    /* Desloca o contêiner para a direita */
    top: 30%;
    /* Define a posição vertical do contêiner */
    left: 50%;
    /* Define a posição horizontal do contêiner */
    transition: 750ms;
    /* Transição suave de 750ms para alterações de estilo */
}
 
.cont1:hover {
    transform: scale(1.05);
    /* Aumenta o tamanho do contêiner em 5% ao passar o mouse */
}
 
.cont2 {
    display: flex;
    /* Utiliza flexbox para layout */
    position: absolute;
    /* Permite posicionar o contêiner de forma absoluta */
    transform: translate(-30%, 0%);
    /* Desloca o contêiner para a esquerda */
    top: 30%;
    /* Define a posição vertical do contêiner */
    left: 30%;
    /* Define a posição horizontal do contêiner */
    transition: 750ms;
    /* Transição suave de 750ms para alterações de estilo */
}
 
.cont2:hover {
    transform: scale(1.05);
    /* Aumenta o tamanho do contêiner em 5% ao passar o mouse */
}
 
.titulo {
    background-color: rgba(240, 248, 255, 0.432);
    /* Cor de fundo semi-transparente */
    text-align: center;
    /* Centraliza o texto */
    height: 100px;
    /* Altura da seção de título */
    width: 1900px;
    /* Largura da seção de título */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.678);
    /* Sombra ao redor da seção de título */
    display: flex;
    /* Utiliza flexbox para layout */
    align-items: center;
    /* Centraliza verticalmente os itens */
    justify-content: center;
    /* Centraliza horizontalmente os itens */
    position: absolute;
    /* Permite posicionar a seção de título de forma absoluta */
    top: 15%;
    /* Define a posição superior da seção de título */
    left: 50%;
    /* Define a posição à esquerda da seção de título */
    transform: translate(-50%, -40%);
    /* Centraliza a seção de título ajustando sua posição */
    margin-bottom: 100px;
    /* Margem inferior da seção de título */
}
 
.titulo h1 {
    font-size: 60px;
    /* Tamanho da fonte do título */
    font-weight: 600;
    /* Define o peso da fonte como semi-negrito */
    text-transform: uppercase;
    /* Transforma o texto para maiúsculas */
}
 
button#btnTurmas6 {
    margin-top: 10px;
    /* Margem superior do botão */
    width: 400px;
    /* Largura do botão */
    transition: 750ms;
    /* Transição suave de 750ms para alterações de estilo */
}
 
button#btnTurmas6:hover {
    transform: scale(1.10);
    /* Aumenta o tamanho do botão em 10% ao passar o mouse */
}
.LinkTurm1{
    width: 75%;
    transition: 750ms;
}
.LinkTurm1:hover{
    transform: scale(1.05);
}
.Turmas{
    height: 200px;
    padding: 15px;
    overflow-y: scroll;
}
.linkVoltar a{
    position: absolute;
    left: 80%;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.linkVoltar a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse sobre o link */
}