body {
    background-image: url(Login-2-1024-2.gif);
    font: normal 18pt Arial;
    display: grid;
    place-items: center;
}
div#cadastro {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
div#cadProf {
    margin-bottom: 20px;
   
}
button#btnCadastro {
    width: 500px;
}
div#textCad{
    background-color: rgba(31, 31, 114, 0.548);
    text-align: center;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200%; 
    border-radius: 8px;
    border-color: rgba(71, 71, 224, 0.671);
}
