
body {
    background-image: url(img/Mapa\ 1920.png);
    font: normal 18pt Arial;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: grid;
    place-items: center;
}
.cadastro {
    width: 500px;
    height: 400px;
    background-color: rgba(1, 5, 8, 0.644);
    padding: 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
div#cadProf {
    margin-bottom: 20px;
}
button#btnCadastro {
    width: 400px;
}
input#exampleInputEmail1{
    box-shadow: 5px 5px 5px 5px rgba(10, 120, 184, 0.63);
}
input#exampleInputPassword1{
    box-shadow: 5px 5px 5px 5px rgba(10, 120, 184, 0.63);
}
input#exampleInputPassword3{
    box-shadow: 5px 5px 5px 5px rgba(10, 120, 184, 0.63);
}
input#exampleInputPassword4{
    box-shadow: 5px 5px 5px 5px rgba(10, 120, 184, 0.63);
}
input#exampleInputPassword5{
    box-shadow: 5px 5px 5px 5px rgba(10, 120, 184, 0.63);
}
input#exampleInputPassword6{
    box-shadow: 5px 5px 5px 5px rgba(10, 120, 184, 0.63);
}
.textCad{
    background-color: rgba(237, 237, 245, 0.747);
    text-align: center;
    width: 1000px;
    box-shadow: 5px 5px 5px 5px rgba(10, 120, 184, 0.63);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -300%);
    border-radius: 8px;
    border: 3px solid rgba(25, 25, 126, 0.733);
}
.textCad h1{
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}
button#btnNew{
    width: 440px;
}
button#btnNew2{
    width: 440px;
}