body {
    background-image: url(Login-2-1024-2.gif);
    font: normal 18pt Arial;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}
div#genTurmas{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
button#btnTurmas{
    height: 40px;
}
div#divTurmas{
    margin-bottom: 10px;
}
button#btnModal{
    width: 400px;
}
div#textTurmas{
    background-color: rgba(240, 248, 255, 0.644);
    text-align: center;
    width: 400px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.678);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}